// $bg-color-dark: #28282b;

// $bg-color-light: #eee;


$blue: #2f74c0;
$blueHSL: hsl(211, 50%, 60%);
// $black: #232b2b;
// $textColor: #b0b3b8;
$gitHub: #4078c0;

$colorTransition: color 0.2s ease;

$outline: 1.4px solid $blue;